<!DOCTYPE html>
  <html>
    <head>
      <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
    <h1>Hi <%= @user.first_name %></h1>
    <p>
      Here is your result for <%= @current_semester.name%> <%= @current_semester.year %>
    </p>


    <table style="border-color: #333333">
      <thead>
      <tr>
        <th>
          <h4>Course Name</h4>
        </th>
        <th>
          <h4>Achieved Grade</h4>
        </th>
        </thead>
      <tbody>
      </tr>
      <% @result_hash.each do |k,v| %>
        <tr>
          <td><%="#{k}"%></td>
          <td><%="#{v}"%></td>
        </tr>
      <%end%>
      </tbody>
    </table>
    </body>
  </html>
