<div class="container">

    <div>
      <div class="jumbotron">
        <h1 class="text-center">Courses</h1>
      </div>
    </div>

    <div class="container" >
      <div id="semester-select-div">
      <%= select_tag :semester_id, options_for_select(@semesters.all.collect{|u| ["#{u.name}"" ""#{u.year}", u.id]}), {prompt: 'List Registered courses for:', id: 'semester-select'} %>
      </div>
      <div id="result-div">
        <h4>No semester selected</h4>
      </div>
    </div>


<div class="container">
  <% if @current_semester.blank? == true %>
  <h2 class="text-center">Today is <%=Date.today%>. Advising has not started yet.</h2>
  <%else %>
    <h2>Current Semester: <%=@current_semester.name%> <%=@current_semester.year%></h2>
  <% end %>
  <%= form_tag({:action => 'register'}) do %>
    <% if @current_semester_courses.present? %>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Credit</th>
          <th colspan="6"></th>
        </tr>
      </thead>

      <tbody>

    <% @current_semester_courses.each do |course| %>
          <% if check_if_user_registered_this_course(current_user, course.id, @current_semester.id) == true %>
              <tr class="success">
                <td><%= course.name %></td>
                <td><%= course.description %></td>
                <td><%= course.credit %></td>
                <td colspan="3"></td>
                <% if @check_user == true %>
                  <td><%= link_to 'Show', course, class:'btn btn-default' %></td>
                  <td><%= link_to 'Edit', edit_course_path(course), class:'btn btn-default' %></td>
                  <td><%= link_to 'Delete', course, class:'btn btn-default', method: :delete, data: { confirm: 'Are you sure?', commit: 'Yes' } %></td>
                <% else %>
                    <% if check_if_user_registered_this_course(current_user, course.id, @current_semester.id) == true %>
                        <td><%= check_box_tag 'course_ids[]', course.id,  checked = true %></td>
                        <td>Registered</td>
                        <%else%>
                        <td><%= check_box_tag 'course_ids[]', course.id %></td>
                        <td></td>
                        <%end%>
                <% end  %>
              </tr>
          <%else%>
              <tr>
                <td><%= course.name %></td>
                <td><%= course.description %></td>
                <td><%= course.credit %></td>
                <td colspan="3"></td>
                <% if @check_user == true %>
                    <td><%= link_to 'Show', course, class:'btn btn-default' %></td>
                    <td><%= link_to 'Edit', edit_course_path(course), class:'btn btn-default' %></td>
                    <td><%= link_to 'Delete', course, class:'btn btn-default', method: :delete, data: { confirm: 'Are you sure?', commit: 'Yes' } %></td>
                <% else %>
                    <% if check_if_user_registered_this_course(current_user, course.id, @current_semester.id) == true %>
                        <td><%= check_box_tag 'course_ids[]', course.id,  checked = true %></td>
                        <td>Registered</td>
                    <%else%>
                        <td><%= check_box_tag 'course_ids[]', course.id %></td>
                        <td></td>
                    <%end%>
                <% end  %>
              </tr>
          <%end%>
        <% end %>
      <%end %>
    <% if @check_user== true %>
          <div class="col-md-12 text-center">
            <%= link_to 'Create New Course', new_course_path, class: 'btn btn-default pull-right' %>
          </div>
    <% else %>
      <% if @current_semester_courses.present? %>
            <div class="col-md-12 text-center">
              <%= submit_tag "Register Courses" , class:'btn btn-default pull-right'%>
            </div>
      <%end%>
   <% end %>

  </tbody>
</table>
  <% end %>
</div>

<br>

</div>