<div class="container">


  <div>
    <div class="jumbotron">
      <h1 class="text-center">Publish Grade</h1>
    </div>
  </div>

  <div class="container">
    <% if @current_semester.blank? == true %>
        <h2 class="text-center">No semester marked as active.</h2>
    <%else %>
        <h2>Current Semester: <%=@current_semester.name %> <%= @current_semester.year  %></h2>
    <% end %>

        <% if @user_from_current_semesters.present? %>
        <table class="table table-hover">
          <thead>
          <tr>
            <th class="text-center">First Name</th>
            <th class="text-center">Last Name </th>
            <th class="text-center">Email</th>
            <th class="text-center">CGPA</th>
            <th colspan="3"></th>
          </tr>
          </thead>

          <tbody>
          <% @user_from_current_semesters.each do |user| %>
              <% if user.published%>
                <tr class="success">
                  <td class="text-center"><%= user.first_name %></td>
                  <td class="text-center"><%= user.last_name %></td>
                  <td class="text-center"><%= user.email%></td>
                  <td class="text-center"><%= user.cgpa.present? ? user.cgpa : 'N/A'  %></td>
                  <td class="text-center"> <%= link_to '  Edit  ', student_id_courses_path(:user_id => user.id), class: 'btn btn-default'  %></td>
                </tr>
              <%else %>
                  <tr>
                    <td class="text-center"><%= user.first_name %></td>
                    <td class="text-center"><%= user.last_name %></td>
                    <td class="text-center"><%= user.email%></td>
                    <td class="text-center"><%= user.cgpa.present? ? user.cgpa : 'N/A'  %></td>
                    <td class="text-center"> <%= link_to 'Publish', student_id_courses_path(:user_id => user.id), class: 'btn btn-default' %></td>
                  </tr>
              <%end%>
            <% end  %>
          </tbody>
        </table>
    <% end %>
  </div>

  <br>
  </div>

</div>